body {
    padding-top: 250px;
}

.navbar-logo {
    height: 30px;
}

.circle-button {
	width: 300px;
	height:300px;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
    display: inline-block;
    border: medium;
    margin: 30px;
    color: black;
    background: #4679BD; 
    
}
.circle-button:hover {
	background:#30588e;
}
.circle-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}
.circle-button a:hover, .circle-button a:active {
    color:gray;
    text-decoration: none;
}